@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pattern {
  background-color: #fcfcfc;
  opacity: 1;
  background-image: radial-gradient(#000000 0.5px, #fcfcfc 0.5px);
  background-size: 10px 10px;
}

.nopattern{
  padding-left: 100px;
  background-color: #fcfcfc;
}

@media (max-width: 768px) {
  .nopattern {
    padding-left: 40px; /* Smaller padding on mobile */
  }
}

@media (max-width: 320px) {
  .nopattern {
    padding-left: 20px; /* Smaller padding on mobile */
  }
}


.lexend-normal {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200
  ;
  font-style: normal;
}

.lexend-bold {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}